* {
    box-sizing: border-box;
}

/* Style the search field */
.example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 80%;
    background: #f1f1f1;
    height: 50px;
    width: 500px;
    justify-content: center;
    border-radius: 25px;
    margin: auto;
}

/* Style the submit button */
.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    height: 50px;
    width: 50px;
    justify-content: center;
    border-radius: 25px;
}

.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
.example::after {
    content: "";
    clear: both;
    display: table;
}

.category {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.category li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
